.header {
  overflow: hidden;
  padding: 0  2em 0 2em;
  background-color: #000000;
  text-align: center;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header ul {
  list-style-type: none;
}

.header .header-logo {
  float: left;
}

.header .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.4em;
  font-size: 15px;
}

.header .navbar-right li {
  text-decoration: none;
  padding-right: 3em;
  color: #ffff;
}

.ant-menu-item {
  font-size: 15px !important;
  position: relative !important;
  margin: 0 !important;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffff;
}

.search {
  border: 1px solid #000;
  border-radius: 0.6em;
}

.img {
  width: 100%;
  height: 240px;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
}

.Card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
  margin: 3em 6em 3em 6em;
  margin-left: 8em;
  margin-right: 8em;
}

.Card .card-details {
  width: 300;
  border-radius: 1.5em;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  background-color: #ffff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Card .card-details:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.latest-card .title {
  border-left: 3px solid red;
  margin: 2em 0 0 6em;
  padding-left: 1em;
}

.homePage .youtube-video {
  overflow: hidden;
  margin: 0  10em 3em 10em;
  border-radius: 2em;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.homePage .youtube-video:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 8em 3em 8em;
  width: 100%;
  height: auto;
  background-color: #101010;
  color: #ffff;
  border-bottom: 0.5px solid gray;
}

.footer .footer-bottom {
  padding: 0.5em 8em 0.5em 8em;
  background-color: #101010;
  color: #ffff;
}

.footer .copyright {
  text-align: end;
}

.product-tab {
  padding: 0 4em 0 4em;
  border: 1px solid gray;
  border-radius: 10px;
}
/*# sourceMappingURL=styles.css.map */