.tab2-card{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr ;
    padding: 0 3em 0  3em ;
    .pro-details{
        display: flex;
        transition: transform 0.25s ease-out;
        background-color: #ffff;
        border-top-left-radius: 2em;
        border-bottom-right-radius: 2em;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .product-img{
            width: 160px;
            height: 160px;
            border-top-left-radius: 2em;
        }
        .product-desc{
            p{
                color:red
            }
        }
    }
    
}

